@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
*::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.callo{
    position: absolute;
    align-self: center;
    top: -10px;

    width: 400px;
    height: 400px;
    background-color: beige;
}
.notcall>button{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: rgb(56, 53, 136);
    color:white;
    border: none;
    display: flex;
    position: absolute;
    bottom: 20px;
    align-items: center;
    right: 100px;
    justify-content: center;

}
.notcall{
    position: absolute;
    align-self: center;
    top: 20px;
    box-shadow: 0px 0px 40px -20px rgba(0, 0, 0, 0.25);
    width: 400px;
z-index: 999999999;
    height: 200px;
    border-radius: 20px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
}
.sublogin>h1{
    margin-top: 25px;
    font-family: 'Roboto', sans-serif!important;
    font-size: 16px;
    font-weight: 600;
    color: rgb(100 93 213);
}.ptabled {
    /* Add any other styles specific to this container */
    overflow: auto!important; /* Enable scrollbars */
    -ms-overflow-style: auto!important; /* Re-enable scrollbars for IE */
    scrollbar-width: 10px!important; /* Re-enable scrollbars for Firefox */
  }
  
  .ptabled::-webkit-scrollbar {
    display: flex!important; /* Re-enable scrollbars for Safari and Chrome */
  }
.sublogin>h2{
    width: 70%;
    margin-top: 25px;
    font-family: 'Roboto', sans-serif!important;
    font-size: 14px;
    color: rgb(145, 142, 142);
    font-weight: 400;
}
.sublogin>h3{
    cursor: pointer;
}
.sublogin>button{
    height: 40px;
    border-radius: 5px;
    border: none;
    font-family: 'Roboto', sans-serif!important;
    font-size: 16px;
    font-weight: 600;
    color: white;
    margin-top: 5px;
    background-color: rgb(100 93 213);

    width: 70%;
}
.sublogin>input{
    width: 70%;
    border-bottom: 2px solid rgb(100 93 213)!important;
    border: none;
}
.login{
    width: 100vw;
    height: 100vh;
    background-color: rgb(100 93 213);
    display: flex;
    align-items: center;
    justify-content: center;
}
.sublogin{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    border-radius: 20px;
    min-height: 500px;
    background-color: white;

}
.sublogin{
    padding-top: 35px;
}
.sublogin>img{
    width: 50px;
}